li {
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 255, 0.395);
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* One column */
    gap: 10px; /* Reduced gap */
    margin-top: 50px;
  }

  .card {
    padding: 10px; /* Reduced padding */
    font-size: 0.9em; /* Reduced font size */
  }
}
.searchbox-container {
  position: absolute;
  top: 20px;
  right: 220px;
}

@media (max-width: 600px) {
  .searchbox-container {
    top: 75px;
    left: 0%;
  }
}


.card {
  position: relative;
  transition: transform 0.3s, background-color 0.3s;
}

.card.fire {
  background: linear-gradient(45deg, rgba(255,0,0,0.8), rgba(255,165,0,0.8));
  animation: fireAnimation 1s infinite alternate;
}

@keyframes fireAnimation {
  0% {
    background: linear-gradient(45deg, rgba(255,0,0,0.8), rgba(255,165,0,0.8));
  }
  100% {
    background: linear-gradient(45deg, rgba(255,69,0,0.8), rgba(255,140,0,0.8));
  }
}

.card:hover {
  transform: scale(1.05); /* Slightly scale up the item */
}
